## Read

In [1]:
# importing
import sys
import os
import pandas as pd
from sqlalchemy import create_engine, text
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from kmodes.kprototypes import KPrototypes
import matplotlib.pyplot as plt
import psycopg2
from datetime import datetime

In [2]:
# connection to the database
# Create an engine instance


'''
alchemyEngine = create_engine("postgresql+psycopg2://postgres:Renfe2022@172.19.28.174:5433/SalesSystem", 
                                pool_recycle=-1,  
                              pool_pre_ping=True,  
                              pool_size = 1,
                              max_overflow=10
                             );
'''

connection_string = "user=postgres password=Renfe2022 host=172.19.28.174 port=5433 dbname=SalesSystem"

In [3]:
# get the parameters

data_folder = "data"
cluster_folder = "cluster"

date_from_str = input("Enter the date to start from (YYYY-MM-DD): ")
try:
    date_from_obj = datetime.strptime(date_from_str, "%Y-%m-%d").date()
except ValueError:
    sys.exit("Invalid date format")

date_to_str = input("Enter the dateto finish to (YYYY-MM-DD): ")
try:
    date_to_obj = datetime.strptime(date_to_str, "%Y-%m-%d").date()
except ValueError:
    sys.exit("Invalid date format")

try:
    num_clusters = int(input("Enter the number of clusters to create: "))
except ValueError:
    sys.exit("Not a valid number")

Enter the date to start from (YYYY-MM-DD):  2025-03-01
Enter the dateto finish to (YYYY-MM-DD):  2025-03-31
Enter the number of clusters to create:  8

In [4]:
# define datatypes to save memory
columns = [
    "document", "last_travel", "corridor_key", "nationality", "gender",
    "num_travels", "average_price", "price_stddev", "avg_advance_days", "avg_group_size",
    "travels_economy", "travels_business", "travels_workday", "travels_thu_sat", "travels_fri",
    "travels_mak_jed", "travels_mak_kaec", "travels_mak_mad", "travels_jed_kaec", "travels_jed_mad",
    "travels_kaec_mad", "travels_mak_kaia", "travels_jed_kaia", "travels_kaia_kaec", "travels_kaia_mad",
    "travels_jed_mak", "travels_kaec_mak", "travels_mad_mak", "travels_kaec_jed", "travels_mad_jed",
    "travels_mad_kaec", "travels_kaia_mak", "travels_kaia_jed", "travels_kaec_kaia",
    "travels_mad_kaia", "unique_routes", "travels_late_night", "travels_early_morning", "travels_morning",
    "travels_afternoon", "travels_evening", "travels_early_night", "purchases_app", "purchases_web",
    "purchases_tvm", "purchases_tom", "travels_ramadan", "travels_hajj", "travels_no_peak_season", "residency", "cluster"
]
#default datatype float 16
dtype_dict = {col:'Float32' for col in columns}

# string columns
string_columns = ["document", "residency", "last_travel", "corridor_key", "nationality", "gender", "cluster"]
for col in string_columns:
    dtype_dict[col] = 'str'

# int16 columns
int_columns = ["num_travels", "unique_routes"]
for col in int_columns:
    dtype_dict[col] = 'Int16'

In [5]:
# creating customers table in database
print("Creating table customers in database (this may take long)")
try:
    with psycopg2.connect(connection_string) as conn:
        conn.cursor().execute("select from \"CRM\".create_customers_table(%s,%s)",(date_from_obj, date_to_obj))
        conn.commit()
except Exception as e:
    sys.exit(f"Error creating the customers table: {e}")

Creating table customers in database (this may take long)

In [6]:
# get the data
skip_reading = False

os.makedirs(data_folder, exist_ok=True)

try:
    print("Reading database")
    with psycopg2.connect(connection_string) as conn:
        # save the table to a csv
        if skip_reading:
            print("Skipping reading from database")
        else:
            with open(os.path.join(data_folder,'customers_full.csv'), "w", encoding="utf-8") as f:
                conn.cursor().copy_expert(r"""
                    COPY "CRM".customers TO STDOUT WITH (FORMAT CSV, DELIMITER E'\t', NULL '\N')
                """, f)
    
except Exception as e:
    sys.exit(f"Error reading the Customers table in the database. ({e})")


#read the csv to panda dataframe
print("Loading data")
df = pd.read_csv(os.path.join(data_folder,'customers_full.csv'), delimiter='\t', header=None, names=columns, dtype=dtype_dict, na_values=r'\N',  index_col=False,
            )

Reading database
Loading data

In [7]:
# processing
# create new columns
print("Preparing Data")
try:
    df.drop(labels=["cluster"], inplace=True)
except:
    print("Cluister information not found in the data. Proceeding.")
    
df['is_female'] = (df['gender'] == 'Female').astype(int)
df['is_resident'] = (df['residency'] == 'Resident').astype(int)

Preparing Data
Cluister information not found in the data. Proceeding.

In [8]:
# explore 
df.shape

(915813, 53)

In [9]:
df.head()

,document,last_travel,corridor_key,nationality,gender,num_travels,average_price,price_stddev,avg_advance_days,avg_group_size,...,purchases_web,purchases_tvm,purchases_tom,travels_ramadan,travels_hajj,travels_no_peak_season,residency,cluster,is_female,is_resident
0,1000011383,2025-03-17,R2 - MAK-KAIA,SA,Female,1,55.77,<NA>,0.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,Resident,NaN,1,1
1,1000020904,2025-03-27,R1 - MAK-MAD,SA,Female,1,100.050003,<NA>,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,Resident,NaN,1,1
2,1000043529,2025-03-15,R1 - MAK-MAD,SA,Female,1,224.25,<NA>,3.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,Resident,NaN,1,1
3,1000044637,2025-03-29,R1 - MAK-MAD,SA,Male,1,224.25,<NA>,21.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,Resident,NaN,0,1
4,1000044637,2025-03-19,R2 - MAK-KAIA,SA,Male,1,69.0,<NA>,9.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,Resident,NaN,0,1

## Clustering per route

In [10]:
# prepare data
# remove personal information
scalable_features = ['num_travels', 'average_price', 'price_stddev', 'avg_advance_days', 'avg_group_size']

In [11]:
# clean routes
df.loc[df['corridor_key'] == 'R1- MAK-MAD','corridor_key'] = 'R1-MAK-MAD'
df.loc[df['corridor_key'] == 'R2- MAK-KAIA','corridor_key'] = 'R2-MAK-KAIA'
df.loc[df['corridor_key'] == 'R3- KAIA-MAD','corridor_key'] = 'R3-KAIA-MAD'
df.loc[df['corridor_key'] == 'R4- MAK-KAIA-MAD','corridor_key'] = 'R4-MAK-KAIA-MAD'
df.loc[df['corridor_key'] == 'R1 - MAK-MAD','corridor_key'] = 'R1-MAK-MAD'
df.loc[df['corridor_key'] == 'R2 - MAK-KAIA','corridor_key'] = 'R2-MAK-KAIA'
df.loc[df['corridor_key'] == 'R3 - KAIA-MAD','corridor_key'] = 'R3-KAIA-MAD'
df.loc[df['corridor_key'] == 'R4 - MAK-KAIA-MAD','corridor_key'] = 'R4-MAK-KAIA-MAD'

In [12]:
# divide df
groups_route = df.groupby('corridor_key')

for name_route, df_route in groups_route:
    print(f"Clustering route {name_route}")
    df_route.drop(columns=['corridor_key'], axis=1, inplace=True)
    # scaling
    scaler = StandardScaler()
    X_scaled = pd.DataFrame(scaler.fit_transform(df_route[scalable_features]), index=df_route.index, columns=scalable_features)
    non_scalable = df_route.drop(columns=scalable_features)
    training_features = non_scalable.join(X_scaled)

    #remove extra columns before training
    training_features.drop(columns=["document", "residency", "last_travel", "gender", "nationality"], inplace=True)
    training_features.fillna(0, inplace=True)

    # apply k means
    kmeans = KMeans(n_clusters=num_clusters, max_iter=50, verbose=1)
    df_route['cluster'] = kmeans.fit_predict(training_features)

    # export data
    print(f"Saving data for {name_route}")
    with pd.ExcelWriter(os.path.join(cluster_folder,f"cluster_summary_{name_route}.xlsx")) as writer:
        for cluster_id, group in df_route.groupby('cluster'):
            # metrics
            desc = group.describe().T.round(2)
            desc.to_excel(writer, sheet_name=f"cluster_{cluster_id}_stats")
            
            # Top 10 nacionalities
            nat = (
                group['nationality']
                .value_counts(normalize=True)
                .head(10) * 100
            ).round(2).rename("percentage")
            
            nat_df = nat.reset_index().rename(columns={'index': 'nationality'})
            nat_df.to_excel(writer, sheet_name=f"cluster_{cluster_id}_nationalities", index=False)
            
    # save df
    df_route.insert(2, 'corridor_key', name_route)
    df_route.drop(labels=['is_female','is_resident'], axis=1).to_csv(f"Data\\customers_{name_route}.csv", index=False, header=True)

Clustering route R1-MAK-MAD

C:\Users\jfita\AppData\Local\Temp\ipykernel_14672\1222366270.py:15: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  training_features.fillna(0, inplace=True)

Initialization complete
Iteration 0, inertia 2618661.731197181.
Iteration 1, inertia 1803380.3789315333.
Iteration 2, inertia 1727887.8144864002.
Iteration 3, inertia 1689067.8305292248.
Iteration 4, inertia 1675937.3738710557.
Iteration 5, inertia 1669197.4190640175.
Iteration 6, inertia 1668838.918130238.
Iteration 7, inertia 1668700.7258668337.
Iteration 8, inertia 1668572.7602423741.
Iteration 9, inertia 1668339.4227861094.
Iteration 10, inertia 1667869.4433751977.
Iteration 11, inertia 1666647.7737426637.
Iteration 12, inertia 1663295.302327069.
Iteration 13, inertia 1654938.8579633408.
Iteration 14, inertia 1649431.1064509386.
Iteration 15, inertia 1648854.1446657486.
Iteration 16, inertia 1648721.9187996325.
Iteration 17, inertia 1648671.0466731705.
Iteration 18, inertia 1648648.7735148324.
Iteration 19, inertia 1648634.5010226013.
Iteration 20, inertia 1648628.1023134007.
Iteration 21, inertia 1648619.5760331969.
Iteration 22, inertia 1648615.7971885772.
Iteration 23, inertia 1648612.0391903606.
Iteration 24, inertia 1648607.3776750441.
Iteration 25, inertia 1648602.961249436.
Iteration 26, inertia 1648596.499518974.
Iteration 27, inertia 1648590.3347046964.
Iteration 28, inertia 1648583.8589915386.
Iteration 29, inertia 1648578.5413390326.
Iteration 30, inertia 1648573.7677171824.
Iteration 31, inertia 1648568.9337817414.
Iteration 32, inertia 1648564.198790545.
Iteration 33, inertia 1648559.6068299627.
Iteration 34, inertia 1648556.750782798.
Converged at iteration 34: center shift 8.812256974237546e-06 within tolerance 1.559238589889027e-05.
Saving data for R1-MAK-MAD
Clustering route R2-MAK-KAIA

C:\Users\jfita\AppData\Local\Temp\ipykernel_14672\1222366270.py:15: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  training_features.fillna(0, inplace=True)

Initialization complete
Iteration 0, inertia 2376037.867998072.
Iteration 1, inertia 1622684.84557469.
Iteration 2, inertia 1560098.3886604272.
Iteration 3, inertia 1546509.9057447556.
Iteration 4, inertia 1544776.6218335968.
Iteration 5, inertia 1544171.8359495096.
Iteration 6, inertia 1543768.15645205.
Iteration 7, inertia 1543544.7522291588.
Iteration 8, inertia 1543408.0009621466.
Iteration 9, inertia 1543337.4815700434.
Iteration 10, inertia 1543310.9331862945.
Iteration 11, inertia 1543298.9892345106.
Iteration 12, inertia 1543290.409552203.
Iteration 13, inertia 1543288.0226868729.
Iteration 14, inertia 1543286.8957991798.
Iteration 15, inertia 1543286.0441627211.
Converged at iteration 15: center shift 1.542546193811871e-05 within tolerance 1.5536425849104462e-05.
Saving data for R2-MAK-KAIA
Clustering route R3-KAIA-MAD

C:\Users\jfita\AppData\Local\Temp\ipykernel_14672\1222366270.py:15: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  training_features.fillna(0, inplace=True)

Initialization complete
Iteration 0, inertia 776400.4784493769.
Iteration 1, inertia 527001.4640739205.
Iteration 2, inertia 517247.47031918133.
Iteration 3, inertia 514730.48486845585.
Iteration 4, inertia 514036.9113876773.
Iteration 5, inertia 513336.2044001414.
Iteration 6, inertia 512909.02610802697.
Iteration 7, inertia 512772.6576671272.
Iteration 8, inertia 512726.38244379533.
Iteration 9, inertia 512710.18454173754.
Iteration 10, inertia 512706.20050693786.
Iteration 11, inertia 512704.67792244744.
Iteration 12, inertia 512703.3448245343.
Converged at iteration 12: center shift 1.4273540233965842e-05 within tolerance 1.5111166041528918e-05.
Saving data for R3-KAIA-MAD

In [13]:
# clean the customers table
print("Delete previous data in database")
with psycopg2.connect(connection_string) as conn:
    conn.cursor().execute('TRUNCATE "CRM".customers')
    conn.commit()

Delete previous data in database

In [14]:
# upload the new customers table
print("Loading new data to database")
for name_route in list(groups_route.groups.keys()):
    print(f"Uploading {name_route}")
    with open(os.path.join(data_folder,f"customers_{name_route}.csv"), "r", encoding="utf-8") as f:
        next(f)  # skip header
        with psycopg2.connect(connection_string) as conn:
            conn.cursor().copy_expert("COPY \"CRM\".customers FROM STDIN WITH CSV", f)
            conn.commit()

Loading new data to database
Uploading R1-MAK-MAD
Uploading R2-MAK-KAIA
Uploading R3-KAIA-MAD

In [15]:
print("Process finished.")

Process finished.